@property --rotate
  syntax: "<angle>"
  initial-value: 132deg
  inherits: false

// Colors variables
$color-accent-primary: #BD00FF
$color-accent-secondary: #0500FF
$color-accent-tertiary: #00F0FF

// Gradient variables
$gradient-primary: linear-gradient(var(--rotate), rgba($color-accent-primary, 40%), rgba($color-accent-secondary, 100%), rgba($color-accent-tertiary, 40%))

// functions
@function figureAnimate($property)
  $duration: 15s
  $delay: 1s
  $function: ease-in-out
  $iteration: infinite
  @return $property $duration $function $delay $iteration

// Fonts
@font-face
  font-family: 'ppmi'
  src: url('../fonts/PPNeueMachina-InktrapRegular.eot')
  src: url('../fonts/PPNeueMachina-InktrapRegular.eot?#iefix') format("embedded-opentype"), url('../fonts/PPNeueMachina-InktrapRegular.woff2') format("woff2"), url('../fonts/PPNeueMachina-InktrapRegular.woff') format("woff"), url('../fonts/PPNeueMachina-InktrapRegular.ttf') format("truetype"), url('../fonts/PPNeueMachina-InktrapRegular.otf') format("otf")
  font-weight: 400

@font-face
  font-family: 'ppmp'
  src: url('../fonts/PPNeueMachina-PlainRegular.eot')
  src: url('../fonts/PPNeueMachina-PlainRegular.eot?#iefix') format("embedded-opentype"), url('../fonts/PPNeueMachina-PlainRegular.woff2') format("woff2"), url('../fonts/PPNeueMachina-PlainRegular.woff') format("woff"), url('../fonts/PPNeueMachina-PlainRegular.ttf') format("truetype"), url('../fonts/PPNeueMachina-PlainRegular.otf') format("otf")
  font-weight: 400

@font-face
  font-family: 'ppmi'
  src: url('../fonts/PPNeueMachina-InktrapUltrabold.eot')
  src: url('../fonts/PPNeueMachina-InktrapUltrabold.eot?#iefix') format("embedded-opentype"), url('../fonts/PPNeueMachina-InktrapUltrabold.woff2') format("woff2"), url('../fonts/PPNeueMachina-InktrapUltrabold.woff') format("woff"), url('../fonts/PPNeueMachina-InktrapUltrabold.ttf') format("truetype"), url('../fonts/PPNeueMachina-InktrapUltrabold.otf') format("otf")
  font-weight: 800

*
  box-sizing: border-box

// Фикс позиционирования, для элементов которые должны быть интерактивными, и не должны быть перекрыты шумом
a, button, p, span, b, h1, h2, h3, h4, h5, h6, ul, li, .tariffs-item__overlay
  position: relative
  z-index: 3

.noise
  position: fixed
  opacity: 0.4
  scale: 1.3
  z-index: 2
  mix-blend-mode: overlay

body
  margin: 0
  padding: 0 0 100px
  background: #080715
  color: #fff
  overflow-x: hidden

.container
  margin: 0 auto
  max-width: 1770px
  padding: 0 25px

.link-opacity
  transition: opacity .2s ease-out
  &:hover
    opacity: .9
  &:active, &:focus
    opacity: .8

.link-underline
  text-decoration: none
  transition: all .2s ease-out
  outline: none
  background-image: linear-gradient(90deg, #fff 0%, #fff 100%)
  background-position: left bottom
  background-size: 0px 1px
  background-repeat: no-repeat
  padding-bottom: 4px
  margin-bottom: -4px
  &:hover
    background-size: 100% 1px
  &:active, &:focus
    background-size: 100% 1px

.link-gradient
  display: inline-block
  font-family: 'ppmi', sans-serif
  font-weight: 800
  font-size: 18px
  color: inherit
  text-decoration: none
  padding: 28px 26px
  box-sizing: border-box
  position: relative
  border-radius: 50px

  &:before
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    border-radius: 50px
    box-sizing: border-box
    padding: 2px
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
    -webkit-mask-composite: destination-out
    mask-composite: exclude
    background-image: $gradient-primary
    animation: figureAnimate(spin)

  &.without-gradient
    border: 2px solid rgba(255, 255, 255, .2)
    &:before
      content: none
  .overlay
    line-height: 150%
    display: inline-block
    overflow: hidden
    height: calc(18px * 1.5)
    vertical-align: bottom
    padding: 0 30px
  span
    display: block
    transition: .6s cubic-bezier(0, 0, 0.04, 0.99)
  img
    margin:
      left: 34px
      right: -27px
    vertical-align: bottom
  &:hover span
    &:first-child
      margin-top: -27px

.logo
  line-height: 0

.header
  width: 100%
  position: absolute
  top: 82px
  left: 0
  &-inner
    display: flex
    align-items: center
    justify-content: space-between
  &-nav
    display: flex
    &__link
      color: #fff
      text-decoration: none
      font-family: 'ppmi', sans-serif
      font-weight: 800
      & + &
        margin-left: 50px

.main
  padding-top: 508px

.hero
  &-title
    font-family: 'ppmi', sans-serif
    font-size: 96px
    line-height: 98px
    font-weight: 800
    margin: 0 0 48px
    max-width: 840px
  &-description
    margin: 0 0 80px
    max-width: 1172px

.section-title
  margin: 0
  font-family: 'ppmi', sans-serif
  font-size: 64px
  line-height: 66px

.section-body
  font-family: 'ppmi', sans-serif
  font-size: 18px
  line-height: 150%

.section-block
  background: #080715 url('../img/noise.png')
  border-radius: 15px
  padding: 60px

.section-h3
  font-family: 'ppmi', sans-serif
  font-size: 36px
  line-height: 37px
  font-weight: 800

.example
  margin-top: 387px
  &-top
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    gap: 20px
    margin-bottom: 62px
    &__list
      padding: 0
      margin: 0
      list-style: none
      li
        display: inline-block
        font-family: 'ppmi', sans-serif
        font-size: 18px
        line-height: 150%
        & + li
          margin-left: 43px
        span
          display: inline-block
          background: linear-gradient(to left, #710099, #03009D)
          background-clip: text
          -webkit-text-fill-color: transparent
        div
          display: inline
    &__title
      margin: 0
  &-block
    margin-top: 80px
    position: relative

    &__content
      display: flex
      align-items: center
      justify-content: space-between
      gap: 50px
    &__img
      max-width: 775px
      border-radius: 15px
      width: 50%
    &__list
      padding: 0
      margin: 0
      list-style: none
      max-width: 775px
      flex: 1
      width: calc(50% - 50px)
      li
        font-family: 'ppmi', sans-serif
        font-size: 18px
        line-height: 150%
        max-height: 27px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        color: rgba(255, 255, 255, .4)
        span
          color: #fff
        & + li
          margin-top: 26px
    &__footer
      display: flex
      align-items: center
      margin-top: 51px
    &__description
      margin: 0 10px 0 0
      font-family: 'ppmi', sans-serif
      font-size: 18px
      line-height: 150%
      opacity: .4
      max-width: 1330px
      flex: 1 1

.tariffs
  margin-top: 300px
  &-description
    margin: 65px 0
    max-width: 835px
  &-cards
    display: flex
    justify-content: space-between
    gap: 50px
    z-index: 2
    position: relative

  &-item
    flex-grow: 1
    width: 100%
    border: 2px solid rgba(255,255,255,.1)
    border-radius: 15px
    position: relative
    padding: 60px
    &-popular
      border: 0
      &:before
        content: ''
        padding: 2px
        border-radius: 15px
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: inline-block
        background-image: $gradient-primary
        animation: figureAnimate(spin)
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
        mask-composite: destination-out
        box-sizing: border-box
    &__overlay
      position: relative
      z-index: 1
      height: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
    &__title
      margin: 0
    &__description
      opacity: .4
      flex-grow: 1
      margin: 50px 0 50px
    &__list
      padding: 0
      margin: auto 0 0
      list-style: none
      li
        font-family: 'ppmi', sans-serif
        font-size: 18px
        line-height: 150%
        & + li
          margin-top: 30px
    &__button
      margin: 50px auto 0

.community
  margin-top: 300px
  &-block
    position: relative
    display: flex
    justify-content: space-between
    gap: 10px
    padding: 0
    margin-top: 80px
    &:before
      content: ''
      position: absolute
      z-index: -1
      top: 50%
      left: 25%
      transform: translate(-50%, -50%)
      width: 300px
      height: 400px
      display: inline-block
      background: linear-gradient(67deg, #0500FF, #710099)
      border-radius: 50px
      filter: blur(100px)
    &:after
      content: ''
      position: absolute
      z-index: -1
      top: 50%
      left: 75%
      transform: translate(-50%, -50%)
      width: 300px
      height: 400px
      display: inline-block
      background: linear-gradient(67deg, #0500FF, #710099)
      border-radius: 50px
      filter: blur(100px)
  &-item
    flex-grow: 1
    max-width: 835px
    padding: 60px
    &__title
      margin: 0
      img
        vertical-align: bottom
        margin-right: 30px
    &__description
      max-width: 600px
      margin: 42px 0 73px
    &__link
      margin: 0 auto
      color: #fff
      text-decoration: none
      display: block
      width: max-content
      position: relative
      font-family: 'ppmi', sans-serif
      font-size: 18px
      line-height: 150%
      font-weight: 800
      &:after
        content: ''
        margin-top: 20px
        display: block
        height: 2px
        width: 100%
        background-image: $gradient-primary
        animation: figureAnimate(spin)
        background-size: 130%

.inline-title
  display: inline

.free
  margin: 300px 0
  display: flex
  justify-content: center
  &-inner
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1237px
    width: 100%
  &-title
    margin-right: 20px
  a
    margin: 0

.footer
  &-inner
    //Временное решение
    border: 1px solid #0500FF
    border-radius: 15px

    padding: 40px 170px 40px 60px
    display: flex
    align-items: center

  &-block
    display: flex
    flex-direction: column
    align-items: flex-start
    &__mobile
      display: none !important
    &:nth-child(2)
      margin-left: 220px
    &:nth-child(3)
      margin-left: auto
    .opacity-color
      opacity: .4
      text-decoration: none
      color: inherit
  &-item
    color: inherit
    text-decoration: none
  &-item + &-item
    margin-top: 15px
  .logo
    margin-bottom: 22px

.support
  text-align: center
  margin: 0 auto
  max-width: 835px
  margin: 300px auto 0 auto
  &__description
    margin-top: 49px

.background
  position: absolute

  &__figures
    position: absolute
    z-index: -1

  &__figures_header_scene &__primary &__figure
    &_1
      translate: 23vw -12vh
      animation: figureAnimate(figureAnim1)
    &_2
      translate: 45.9vw -5.4vh
      animation: figureAnimate(figureAnim2)
    &_3
      translate: 53.3vw 9.4vh
      animation: figureAnimate(figureAnim3)

  &__figures_header_scene &__secondary &__figure
    &_1
      translate: 23vw -12vh
      animation: figureAnimate(figureSecondaryAnim1)
    &_2
      translate: 45.9vw -5.4vh
      animation: figureAnimate(figureSecondaryAnim2)
    &_3
      translate: 53.3vw 9.4vh
      animation: figureAnimate(figureSecondaryAnim3)

  &__figure
    position: absolute
    will-change: translatw, rotate, filter, mix-blend-mode

    &_1
      z-index: 3
      fill: $color-accent-primary
    &_2
      z-index: 2
      fill: $color-accent-secondary
    &_3
      z-index: 1
      fill: $color-accent-tertiary

  &__secondary &__figure
    &_1
      background: rgba($color-accent-primary, 40%)
    &_2
      background: rgba($color-accent-secondary, 50%)
    &_3
      background: rgba($color-accent-tertiary, 60%)

  &__primary,
  &__secondary
    position: absolute
    filter: blur(115px)

  &__primary
    mix-blend-mode: color-dodge
    z-index: 1

.background__figures_support_scene:nth-child(1)
  .background__secondary .background__figure_1
    translate: -32.5vw 6.6vh
    transform: scale(0.45) rotate(33deg)
  .background__primary .background__figure_1
    translate: -27.1vw -13.4vh
    transform: scale(0.45) rotate(-14deg)

  .background__primary .background__figure_2
    translate: -42.2vw -2.1vh
    transform: scale(0.45) rotate(-14deg)
  .background__secondary .background__figure_2
    translate: -33.5vw 13.9vh
    transform: scale(0.45) rotate(32deg)

  .background__primary .background__figure_3
    translate: -32.5vw 9.9vh
    transform: scale(0.45) rotate(33deg)
  .background__secondary .background__figure_3
    translate: -28.1vw 1.9vh
    transform: scale(0.45) rotate(-13.9deg)

.background__figures_support_scene:nth-child(2)
  .background__secondary .background__figure_1
    translate: 43.5vw -11.4vh
    transform: scale(0.45) rotate(33deg)
  .background__primary .background__figure_1
    translate: 44.9vw -4vh
    transform: scale(0.45) rotate(-14deg)

  .background__primary .background__figure_2
    translate: 46.2vw 2vh
    transform: scale(0.45) rotate(36deg)
  .background__secondary .background__figure_2
    translate: 37vw 2.1vh
    transform: scale(0.45) rotate(-12deg)

  .background__primary .background__figure_3
    translate: 50vw 2.7vh
    transform: scale(0.45) rotate(-16deg)
  .background__secondary .background__figure_3
    translate: 45.1vw -6.5vh
    transform: scale(0.45) rotate(35.1deg)

.background__figures_example_scene
  .background__primary .background__figure_1
    translate: -3.3vw 23.8vh
    transform: rotate(2deg)

  .background__secondary .background__figure_1
    translate: 4.2vw 16.6vh
    transform: rotate(2deg)

  .background__primary .background__figure_2
    translate: 34.8vw 36.9vh
    transform: rotate(-1deg)

  .background__secondary .background__figure_2
    translate: -2.5vw 13.9vh
    transform: rotate(0deg)

  .background__primary .background__figure_3
    translate: 31.5vw 18.9vh
    transform: rotate(0deg)

  .background__secondary .background__figure_3
    translate: 17.9vw 39.9vh
    transform: rotate(1.1deg)

// Для firefox фиксим баг с режимом mix-blend-mode: color-dodge
@-moz-document url-prefix()
  .background__primary
    mix-blend-mode: screen

// keyframes
@keyframes figureAnim1
  0%, 100%
    translate: 23vw -12vh
  25%, 75%
    translate: 26vw 21vh
  50%
    translate: 16vw 17vh

@keyframes figureAnim2
  0%, 100%
    translate: 45.9vw -5.4vh
  25%, 75%
    translate: 20.9vw 33.6vh
    transform: rotate(-66deg)
  50%
    translate: 30.3vw 29vh
    transform: rotate(36deg)

@keyframes figureAnim3
  0%, 100%
    translate: 53.3vw 9.4vh
  25%, 75%
    translate: 30.3vw 25.4vh
  50%
    translate: 27.7vw 36.9vh
    transform: rotate(-117deg)

@keyframes figureSecondaryAnim1
  0%, 100%
    translate: 23vw -12vh
  25%
    translate: 26vw 21vh
  50%, 75%
    translate: 16vw 17.5vh

@keyframes figureSecondaryAnim2
  0%, 100%
    translate: 45.9vw -5.4vh
  25%, 75%
    translate: 16.4vw 15vh
    transform: rotate(-78deg)
  50%
    translate: 30.2vw 29.4vh
    transform: rotate(36deg)

@keyframes figureSecondaryAnim3
  0%, 100%
    translate: 53.3vw 9.4vh
  25%, 75%
    translate: 33.5vw 30vh
  50%
    translate: 27.9vw 36.9vh
    transform: rotate(-117deg)

@keyframes spin
  0%
    --rotate: 0deg
  100%
    --rotate: 360deg

@media (max-width: 1200px)
  .example
    &-top
      margin-bottom: 40px
      &__list li
        font-size: 17px
        & + li
          margin-left: 15px
    &-block
      padding: 40px
      &__content
        gap: 20px
      &__img
        width: 60%
      &__list
        width: calc(40% - 20px)

@media (max-width: 1024px)
  .example
    &-top
      flex-direction: column
      align-items: flex-start
      &__list
        display: flex
        justify-content: space-between
        width: 100%
    &-block
      &__content
        align-items: flex-start
      &__img
        width: 40%

  .tariffs
    margin-top: 250px
    &-cards
      flex-direction: column
    &-description
      margin-top: 40px

  .community
    &-block
      display: block
      background: 0
    &-item
      max-width: 100%
      border-radius: 10px
      background: #080715
      & + &
        margin-top: 30px

  .footer
    &-inner
      padding: 40px 50px
      justify-content: space-between
    &-block
      &:nth-child(2)
        margin-left: 0
      &:nth-child(3)
        margin-left: 0

@media (max-width: 768px)
  .header-nav__link + .header-nav__link
    margin-left: 20px

  .main
    padding-top: 400px
    overflow: hidden

  .hero-title
    font-size: 60px
    line-height: normal

  .section
    &-title
      font-size: 45px
      line-height: normal
    &-h3
      font-size: 28px
      line-height: normal

  .example
    &-block
      &__content
        flex-direction: column
        gap: 30px
      &__img
        width: 100%
      &__list
        width: 100%
        li + li
          margin-top: 15px

  .tariffs-item
    padding: 40px
    &__description
      margin-top: 30px

  .community
    &-block
      &:before
        top: 15%
        left: 10%
        width: 200px
        height: 300px
        filter: blur(60px)
      &:after
        top: 40%
        left: 80%
        width: 300px
        height: 400px
        filter: blur(100px)
        background: linear-gradient(200deg, #0500FF, #710099)
    &-item
      &__title img
        width: 30px
        vertical-align: top
      &__description
        margin: 20px 0 30px
  .free
    margin: 140px 0
    &-inner
      flex-direction: column
    &-title
      margin:
        right: 0
        bottom: 40px
      text-align: center

  .footer
    .logo
      margin-bottom: 0
    &-inner
      display: block
    &-item
      & + &
        margin-top: 0
        margin-left: 15px
    &-block
      display: flex
      align-items: center
      flex-direction: row
      &:nth-child(1)
        justify-content: space-between
      & + &
        margin-top: 20px

@media (max-width: 576px)
  body
    padding-bottom: 40px

  .header
    top: 31px
    &-nav
      display: none

  .logo img
    width: 90px

  .mobile-hidden
    display: none !important

  .main
    overflow: hidden
    padding-top: 329px

  .hero
    &-title
      font-size: 40px
      margin-bottom: 35px
    &-description
      margin-bottom: 68px
    &__link
      margin: 0 auto
      display: block
      max-width: max-content

  .section
    &-title
      font-size: 32px
    &-body
      font-size: 14px
    &-h3
      font-size: 18px

  .link-gradient
    font-size: 14px
    padding: 27px 0
    .overlay
      height: 21px
      padding: 0 40px
    &:hover span:first-child
      margin-top: -21px
    img
      height: 21px

  .example
    &-top__list
      gap: 10px
      flex-wrap: wrap
      li + li
        margin: 0
    &-block
      padding: 25px
      &__list li
        font-size: 14px
      &__footer
        display: block
        margin-top: 40px
      &__description
        margin-right: 0
        width: 100%
        font-size: 14px
      &__link
        margin: 20px auto 0
        display: block
        width: max-content
        .overlay
          padding:
            left: 40px
            right: 60px

  .tariffs
    margin-top: 160px
    &-description
      margin-top: 24px
    &-item
      padding: 25px
      &__list li
        font-size: 14px
        & + li
          margin-top: 20px
      &__button
        margin-top: 70px

  .community
    margin-top: 140px
    &-block
      margin-top: 50px
    &-item
      padding: 25px
      &__link
        font-size: 14px
        &:after
          margin-top: 10px

  .support
    margin-top: 140px
    &__description
      margin-top: 30px

  .footer
    &-inner
      padding: 25px
    .logo img
      width: 82px
    &-block
      flex-direction: column
      align-items: flex-start
      &__mobile
        display: flex !important
    &-item + &-item
      margin:
        left: 0
        top: 10px
    &-nav
      display: none

@media (max-width: 375px)
