.footer {
  padding-bottom: 100px;
}

.footer .logo {
  margin-bottom: 22px;
}

.footer-inner {
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  padding: 40px 170px 40px 60px;
  display: flex;
  align-items: center;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-block__mobile {
  display: none !important;
}

.footer-block:nth-child(2) {
  margin-left: 220px;
}

.footer-block:nth-child(3) {
  margin-left: auto;
}

.footer-block .opacity-color {
  opacity: 0.4;
  text-decoration: none;
  color: inherit;
}

.footer-item {
  color: inherit;
  text-decoration: none;
}

.footer-item + .footer-item {
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .footer-inner {
    padding: 40px 50px;
    justify-content: space-between;
  }

  .footer-block:nth-child(2) {
    margin-left: 0;
  }

  .footer-block:nth-child(3) {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .footer .logo {
    margin-bottom: 0;
  }

  .footer-inner {
    display: block;
  }

  .footer-item + .footer-item {
    margin-top: 0;
    margin-left: 15px;
  }

  .footer-block {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .footer-block:nth-child(1) {
    justify-content: space-between;
  }

  .footer-block + .footer-block {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .footer-inner {
    padding: 25px;
  }

  .footer .logo img {
    width: 82px;
  }

  .footer-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-block__mobile {
    display: flex !important;
  }

  .footer-item + .footer-item {
    margin-left: 0;
    margin-top: 10px;
  }

  .footer-nav {
    display: none;
  }
}
