---
import Base from '@/layouts/Base.astro';
import BackgroundNoise from '@/components/BackgroundNoise.astro';
import BackgroundScene from '@/components/BackgroundScene.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Stats from '@/components/Stats.astro';
import ExampleSection from '@/components/ExampleSection.astro';
import Tariffs from '@/components/Tariffs.astro';
import Support from '@/components/Support.astro';
import FreeCTA from '@/components/FreeCTA.astro';
import Footer from '@/components/Footer.astro';
---

<Base>
  <BackgroundNoise />
  <BackgroundScene />
  <Header />
  <main class="main">
    <Hero />
    <Stats />
    <ExampleSection />
    <Tariffs />
    <Support />
    <FreeCTA />
  </main>
  <Footer />
</Base>
