---
---

<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-block">
        <a href="#" class="logo link-opacity">
          <img src="img/logo.svg" alt="Open Movie API" />
        </a>
        <a
          href="https://t.me/kinopoiskdev_bot"
          class="link-opacity opacity-color section-body mobile-hidden"
        >
          @MDWIT
        </a>
        <span class="opacity-color section-body mobile-hidden">design by isakon</span>
      </div>
      <nav class="footer-block footer-nav">
        <a href="#example" data-scroll-to class="link-opacity footer-item section-body">Пример API</a>
        <a href="#tariffs" data-scroll-to class="link-opacity footer-item section-body">Тарифы</a>
        <a href="#support" data-scroll-to class="link-opacity footer-item section-body">Поддержка</a>
      </nav>
      <div class="footer-block">
        <a href="https://github.com/OpenMovieiDB" class="link-opacity footer-item section-body">Github</a>
      </div>
      <div class="footer-block footer-block__mobile">
        <a href="https://mdwit.t.me" class="link-opacity opacity-color section-body">@MDWIT</a>
        <span class="opacity-color section-body">design by isakon</span>
      </div>
    </div>
  </div>
</footer>
