---
---

<section class="free">
  <div class="free-inner">
    <h2 class="free-title inline-title section-title">Хотите начать бесплатно?</h2>
    <a href="https://t.me/kinopoiskdev_bot" target="_blank" rel="noreferrer" class="tariffs-item__button link-gradient">
      <div class="overlay">
        <span>Подключить</span>
        <span>Подключить</span>
      </div>
    </a>
  </div>
</section>
