---
---

<header class="header">
  <div class="container">
    <div class="header-inner">
      <a href="/" class="logo link-opacity">
        <img src="img/logo.svg" alt="Open Movie API" />
      </a>
      <nav class="header-nav">
        <a href="#example" data-scroll-to class="header-nav__link link-underline">Пример API</a>
        <a href="#tariffs" data-scroll-to class="header-nav__link link-underline">Тарифы</a>
        <a href="#support" data-scroll-to class="header-nav__link link-underline">Поддержка</a>
      </nav>
    </div>
  </div>
</header>
