---
---

<section class="hero">
  <div class="container">
    <h1 class="hero-title">База кино и сериалов</h1>
    <p class="section-body hero-description">
      У нас хранятся данные из самых популярных источников, таких как КиноПоиск, IMDB, TMDB, TVDB, Rotten Tomatoes и
      JustWatch. Все это доступно в одном API с гибким RESTful интерфейсом и хорошей документацией. Вся информация
      собирается из открытых источников и регулярно обновляется.
    </p>
    <a href="https://t.me/kinopoiskdev_bot" target="_blank" rel="noreferrer" class="hero__link link-gradient">
      <div class="overlay">
        <span>Подключить API</span>
        <span>Подключить API</span>
      </div>
    </a>
  </div>
</section>
