---
---

<section class="tariffs container" id="tariffs">
  <h2 class="section-title">Тарифы</h2>
  <p class="tariffs-description section-body">
    Бесплатный тариф — 200 запросов в сутки для тестирования и разработки. Для продакшена рекомендуем тариф Базовый или Безлимит
  </p>
  <div class="tariffs-cards">
    <div class="tariffs-item">
      <div class="tariffs-item__overlay">
        <div>
          <h3 class="tariffs-item__title section-h3">Демо</h3>
          <p class="tariffs-item__price tariffs-item__price--free">Бесплатно</p>
          <p class="tariffs-item__description section-body">
            Для тестирования и разработки. Всегда бесплатно.
          </p>
          <ul class="tariffs-item__list">
            <li>200 запросов в сутки</li>
            <li>Доступ к общему чату</li>
            <li>Поддержка в общем чате</li>
          </ul>
        </div>
        <a
          href="https://t.me/kinopoiskdev_bot"
          target="_blank"
          rel="noreferrer"
          class="tariffs-item__button link-gradient without-gradient"
        >
          <div class="overlay">
            <span>Начать бесплатно</span>
            <span>Начать бесплатно</span>
          </div>
        </a>
      </div>
    </div>
    <div class="tariffs-item tariffs-item-popular">
      <div class="tariffs-item__overlay">
        <div>
          <h3 class="tariffs-item__title section-h3">Базовый</h3>
          <p class="tariffs-item__price">2500 руб<span class="tariffs-item__price-period">/мес</span></p>
          <p class="tariffs-item__description section-body">
            Для старта проекта или разработки MVP.
          </p>
          <ul class="tariffs-item__list">
            <li>5000 запросов в сутки</li>
            <li>Доступ к общему чату</li>
            <li>Поддержка в личных сообщениях</li>
            <li>Консультации с разработчиками API</li>
          </ul>
        </div>
        <a
          href="https://t.me/kinopoiskdev_bot"
          target="_blank"
          rel="noreferrer"
          class="tariffs-item__button link-gradient"
        >
          <div class="overlay">
            <span>Подключить</span>
            <span>Подключить</span>
          </div>
        </a>
      </div>
    </div>
    <div class="tariffs-item">
      <div class="tariffs-item__overlay">
        <div>
          <h3 class="tariffs-item__title section-h3">Безлимит</h3>
          <p class="tariffs-item__price">5000 руб<span class="tariffs-item__price-period">/мес</span></p>
          <p class="tariffs-item__description section-body">
            Безлимитный доступ для бизнеса и продакшена.
          </p>
          <ul class="tariffs-item__list">
            <li>Безлимитные запросы весь месяц</li>
            <li>Безналичный расчет</li>
            <li>Индивидуальная поддержка</li>
            <li>Консультации с разработчиками API</li>
            <li>Влияние на разработку API, функционал и данные</li>
          </ul>
        </div>
        <a
          href="https://t.me/kinopoiskdev_bot"
          target="_blank"
          rel="noreferrer"
          class="tariffs-item__button link-gradient without-gradient"
        >
          <div class="overlay">
            <span>Подключить</span>
            <span>Подключить</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
